params {
    // Toggle which tools to run
    run_decon     = true
    run_clearcnv  = true
    run_gatk      = false

    // Input data
    runs = "runs/*"
    bam_lst = "/fs03/vh83/projects/temp_dnascreen_copy/dnascreen/Optimized_CNV_Detection_Pipeline/bam_dirs.txt"

    // Config files
    decon_params_nf    = "/fs03/vh83/projects/temp_dnascreen_copy/dnascreen/Optimized_CNV_Detection_Pipeline/decon/decon_params_nf.yaml"
    clearCNV_params_nf = "/fs03/vh83/projects/temp_dnascreen_copy/dnascreen/Optimized_CNV_Detection_Pipeline/clearCNV/clearCNV_params_nf.yaml"
    gatk_params_nf     = "/fs03/vh83/projects/temp_dnascreen_copy/dnascreen/Optimized_CNV_Detection_Pipeline/gatk/gatk_params_nf.yaml"

    // Path to the script
    gatk_main          = "/fs03/vh83/projects/temp_dnascreen_copy/dnascreen/Optimized_CNV_Detection_Pipeline/gatk/gatk_main_nf.sh"
}

process {
    cpus   = 8
    memory = "24 GB"
    time   = "12h"
}

report {
    overwrite = true
}

